name: Linters

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7.15']

    steps:
      - uses: actions/checkout@v3
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pdm sync

      - name: Run black
        run: pdm run black . --check

      - name: Run flake
        run: pdm run flake8

      - name: Run mypy
        run: pdm run mypy .

      - name: Run isort
        run: pdm run isort . --check
